frontend/node_modules/
# django_api/tmu_security_site/postgres_params.py
# django_api/app/postgres_params.py

# This needs to be added in manually
django_api/tmu_security_site/secret.py
runs
# scaler.gz
# torch-models

# This needs to be added in manually
.env
data/db
# postgres_data